.agents {
  &__checkbox {
    margin-bottom: 40px;
  }

  &__item {
    width: 100%;
    min-height: 214px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid $bg;
    border-radius: 5px;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__img-block {
    width: 32%;
    min-height: 100%;
    background-size: cover;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    max-width: 50%;
  }

  &__item--my-comfort .agents__img-block {
    background-image: url("../img/my-comfort-bg.jpg");
  }

  &__content {
    width: 68%;
    padding: 28px;
    color: $text-main;
  }

  &__title-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    width: 72px;
  }

  &__actions-link {
    display: block;
    width: 24px;
    height: 24px;

    &--mutual-calcs {
      background-image: url("../img/two-arrows.svg");
      background-size: cover;
      background-repeat: no-repeat;
      transition: all 0.3s;

      &:hover,
      &:focus {
        background-image: url("../img/two-arrows_hover.svg");
      }
    }

    &--contracts {
      background-image: url("../img/docs.svg");

      &:hover,
      &:focus {
        background-image: url("../img/docs_hover.svg");
      }
    }
  }

  &__name {
    @include h18;
    margin: 0;
  }

  &__desc {
    @include b14;
    margin: 0;
    margin-bottom: 24px;
    color: $text-minor;
  }

  &__benefits {
    display: flex;
    margin-bottom: 24px;
  }

  &__benefits-item {
    @include b14;
    width: 200px;
    margin-right: 15px;
  }

  &__benefit-name {
    margin: 0;
    margin-bottom: 2px;
    color: $text-minor;
  }

  &__benefit-desc {
    margin: 0;
    color: $text-main;
  }

  &__contract {
    margin-right: 10px;
  }

  &__users-block {
    width: 100%;
    padding: 24px 28px;
    display: none;
  }

  &__table-block {
    padding: 34px 28px;
    background-color: $bg;
    border-radius: 5px;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    & col:first-child {
      width: 30%;
    }

    & col:nth-child(2) {
      width: 30%;
    }

    & col:nth-child(3) {
      width: calc(30% - 80px);
    }

    & col:nth-child(4) {
      width: 80px;
    }

    & th {
      @include b12;
      padding: 0;
      padding-bottom: 28px;
      color: $text-minor;
      text-align: left;

      &:not(:last-child) {
        padding-right: 14px;
      }
    }

    & td {
      @include b14;
      padding: 0;
      padding-bottom: 43px;
      color: $text-main;
      text-align: left;

      &:not(:last-child) {
        padding-right: 14px;
      }
    }

    & tr:last-of-type td {
      padding-bottom: 0;
    }
  }
}
