.contract-creation {
  &__device-search {
    margin-bottom: 24px;
  }

  &__container {
    display: flex;
    align-items: flex-start;
  }

  &__details {
    flex-grow: 1;
    margin-right: 24px;
  }

  &__payment {
    flex-grow: 1;
    max-width: 24%;
    min-width: 24%;
  }
}
