.contracts-all {
  &__title-block {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__title {
    @include section-title;
    margin-right: auto;
  }

  &__search {
    margin-bottom: 40px;
  }

  &__filters {
    margin-bottom: 24px;
  }

  &__filters-form {
    justify-content: space-between;
  }

  &__select {
    width: 24%;
  }

  &__input-contract-number,
  &__input-sender,
  &__input-recipient {
    width: calc((100% - 28px) / 3);
    margin-top: 24px;
  }

  &__input-payment-date {
    width: 100%;
  }

  &__input-sender-wide,
  &__input-recipient-wide {
    width: calc((100% - 14px) / 2);
    margin-top: 24px;
  }
}

@include mobile {
  .contracts-all {
    &__container {
      padding-left: 0;
      padding-right: 0;
    }

    &__container > *:not(.contracts-mobile):not(.clients-mobile-block) {
      width: calc(100% - 48px);
      margin-left: auto;
      margin-right: auto;
    }

    &__search {
      margin-bottom: 35px;
    }

    &  .contracts-mobile {
      margin-bottom: 0;
    }
  }
}
