.contract-creation {
  &__device-search {
    margin-bottom: 24px;
  }

  &__container {
    display: flex;
    align-items: flex-start;
  }

  &__details {
    flex-grow: 1;
    margin-right: 24px;
  }

  &__payment {
    flex-grow: 1;
    max-width: 24%;
    min-width: 24%;

    @media(min-width: 1000px) {
      position: sticky;
      top: 104px;
    }
  }

  &__to-start-page {
    width: 100%;
    margin-bottom: 24px;
  }

  &__client-type-choose,
  &__installation-wrapper,
  &__payment-type-wrapper,
  &__delivery-type-wrapper,
  &__delivery-address-wrapper,
  &__passport-data-wrapper,
  &__contract-details-wrapper,
  &__client-data-wrapper,
  &__company-data-wrapper,
  &__pickup-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__client-type-choose,
  &__installation-wrapper,
  &__payment-type-wrapper,
  &__delivery-different-checkbox {
    padding-top: 14px;
  }

  &__delivery-address-wrapper > div,
  &__passport-data-wrapper > div,
  &__client-data-wrapper > div,
  &__company-data-wrapper > div,
  &__contract-details-wrapper > div,
  &__pickup-form > div {
    margin-top: 14px;
  }

  &__passport-data-wrapper > .contract-creation__passport-data-photo {
    margin-top: 24px;
  }

  &__passport-data-department,
  &__passport-data-address,
  &__passport-data-photo,
  &__client-data-name,
  &__company-data-name,
  &__passport-download,
  &__pickup-address-wrapper {
    width: 100%;
  }

  &__individual-choose,
  &__entity-choose,
  &__client-data-phone,
  &__client-data-email,
  &__company-data-address,
  &__company-data-inn,
  &__installation-yes,
  &__installation-no,
  &__payment-type-online,
  &__payment-type-cash,
  &__payment-type-card,
  &__payment-type-invoice,
  &__delivery-type-delivery,
  &__delivery-type-pickup,
  &__delivery-address-city,
  &__delivery-address-street,
  &__passport-data-birthday,
  &__passport-data-issue-date,
  &__passport-data-serial,
  &__passport-data-code,
  &__contract-details-name,
  &__contract-details-number,
  &__pickup-address-date,
  &__pickup-address-time {
    width: calc(50% - 7px);
  }

  &__delivery-address-house,
  &__delivery-address-entrance,
  &__delivery-address-apartment,
  &__delivery-address-floor,
  &__delivery-address-intercom {
    width: calc((100% - 56px) / 5);
  }

  &__delivery-address-date,
  &__delivery-address-time,
  &__delivery-address-cost {
    width: calc((100% - 28px) / 3);
  }

  &__payment-type-online,
  &__payment-type-cash {
    margin-bottom: 14px;
  }

  &__pickup-address-wrapper {
    padding-top: 16px;
  }

  &__pickup-form-item {
    margin-bottom: 15px;
  }

  &__delivery-different-checkbox {
    margin-bottom: 30px;
  }

  &__delivery-device-name {
    @include h18;
    width: 100%;
    margin: 0;
    margin-bottom: 14px;
    color: $text-main;
  }

  &__delivery-device:not(:last-of-type) {
    margin-bottom: 30px;
  }

  // &__entity-choose,
  // &__installation-no {
  //   width: calc(50% - 7px);
  // }

  // &__client-data-wrapper {
  //   display: flex;
  //   flex-wrap: wrap;
  // }

  // &__client-data-name {
  //   width: 100%;
  //   margin-bottom: 14px;
  // }

  // &__client-data-phone {
  //   flex-grow: 1;
  //   margin-right: 14px;
  // }

  // &__client-data-email {
  //   flex-grow: 1;
  // }
}

.contract-creation__title-entity {
  display: none;
}

.contract-creation__company-data {
  display: none;
}

.contract-creation__details.show-for-entity .contract-creation__title-entity {
  display: block;
}

.contract-creation__details.show-for-entity .contract-creation__title-individual {
  display: none;
}

.contract-creation__details.show-for-entity .contract-creation__company-data {
  display: block;
}

.contract-creation__pickup-form {
  display: none;
}

.contract-creation__delivery-device.show-for-pickup
.contract-creation__pickup-form {
  display: flex;
}

.contract-creation__delivery-device.show-for-pickup
.contract-creation__delivery-address-wrapper {
  display: none;
}

@include tablet {
  .contract-creation {
    &__payment {
      flex-shrink: 0;
      width: 291px;
      max-width: none;
    }

    &__details {
      //flex-grow: 0;
    }
  }
}

@include mobile {
  .contract-creation {
    &__container {
      flex-direction: column;
    }

    &__details {
      margin-bottom: 24px;
      margin-right: 0;
      width: 100%;
    }

    &__payment {
      width: 100%;
    }

    &__client-type-choose,
    &__installation-wrapper,
    &__payment-type-wrapper,
    &__delivery-type-wrapper {
      flex-direction: column;

      & label {
        width: 100%;
      }

      & label:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    &__client-data-wrapper,
    &__delivery-address-wrapper,
    &__passport-data-wrapper,
    &__contract-details-wrapper,
    &__company-data-wrapper,
    &__pickup-form {
      & > div {
        width: 100%;
      }
    }
  }
}
