.contracts {
  padding: 34px 14px;
  border-radius: 5px;
  background-color: $bg;

  &__link {
    @include link-reset;
    display: block;
    padding: 20px 0;
    border-top: 1px solid $stroke;

    &:hover {
      background-color: #fff;
      border-top-color: transparent;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
    }
  }

  &__header + tr .contracts__link {
    border-top: none;
  }

  & col {
    &:first-child {
      width: 19%;
    }

    &:nth-child(2) {
      width: 9%;
    }

    &:nth-child(3) {
      width: 19%;
    }

    &:nth-child(4) {
      width: 21%;
    }

    &:nth-child(5) {
      width: 11%;
    }

    &:nth-child(6) {
      width: 9%;
    }

    &:nth-child(7) {
      width: 12%;
    }
  }
}

.contracts__table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  & th {
    @include b12;
    margin: 0;
    padding-bottom: 6px;
    text-align: left;
    color: $text-minor;
    padding-right: 14px;
    vertical-align: top;

    &:first-child {
      padding-left: 14px;
    }

    &:last-child {
      text-align: right;
      padding-right: 14px;
    }

    &:nth-last-child(2) {
      text-align: right;
    }

    &:nth-last-child(3) {
      text-align: right;
    }
  }
}

.contracts__table
tr:not(:first-of-type):hover
+ tr .contracts__link {
  border-top-color: transparent;
}

.contracts__inner-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.contracts__data {
  @include b14;

  & td {
    vertical-align: top;
    text-align: left;
    padding-right: 14px;

    &:first-child {
      padding-left: 14px;
    }

    &:last-child {
      text-align: right;
      padding-right: 14px;
    }

    &:nth-last-child(2) {
      text-align: right;
    }

    &:nth-last-child(3) {
      text-align: right;
    }
  }

  & p {
    margin: 0;
    color: $text-minor;

    &:first-child {
      color: $text-main;
    }

    &:not(.contracts__reward) {
      @include overflow-3lines;
    }

  }
}

.contracts__reward {
  margin: 0;

  &-title {
    display: block;
    color: $text-minor;
  }

  &-info {
    position: relative;
    display: inline-block;
  }

  &-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }

  &-tooltip {
    display: block;
    position: absolute;
    top: calc(100% + 7px);
    right: 0;
    padding: 5px 10px;
    width: max-content;
    max-width: 200px;
    min-width: 200px;
    font-size: 14px;
    line-height: 21px;
    color: $text-minor;
    text-align: left;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0px 4px 10px rgba(86, 91, 121, 0.25);
    border-radius: 2px;
    visibility: hidden;
    opacity: 0;
    transition:
      opacity 0.2s ease 0s,
      visibility 0s ease 0.2s;

    &::after {
      content: "";
      position: absolute;
      top: -5px;
      right: 10px;
      width: 16px;
      height: 9px;
      background-image: url("../img/tiptail.svg");
      background-size: cover;
    }
  }

  @media(min-width: 1000px) {
    &-info:hover {
      .contracts__reward-tooltip {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
      }
    }
  }

  &-value {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    vertical-align: middle;
    padding-top: 2px;
  }

  &.warning {
    .contracts__reward-icon {
      background-image: url("../img/alert.svg");
    }
  }

  &.waiting {
    .contracts__reward-icon {
      background-image: url("../img/time.svg");
    }
  }

  &.done {
    .contracts__reward-icon {
      background-image: url("../img/check.svg");
    }

    .contracts__reward-value {
      color: $primary;
    }
  }
}

.contracts__link p.alert {
  color: #FC4242;
}

.contracts__status {
  @include b14;
  color: $text-minor;

  & td {
    width: 100%;
  }

  & p {
    display: inline-flex;
    align-items: center;
  }
}

.contracts__status-container {
  display: flex;
  align-items: center;
  padding-top: 23px;
  padding-left: 14px;
  padding-right: 14px;
}

.contracts__status-type {
  color: $text-main;
  margin: 0;
  margin-right: 24px;

  &::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
  }

  &.processing::before {
    background-color: #2858FF;
  }

  &.done::before {
    background-color: #40DA90;
  }

  &.canceled::before {
    background-color: #FC4242;
  }

  &.draft::before {
    background-color: #D1D8E1;
  }
}

.contracts__status-name {
  padding: 3px 5px;
  min-width: 120px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 18px;
  color: $text-main;
  margin-right: 27px;
  text-align: center;
  justify-content: center;

  &.pending {
    background-color: #FED9AE;
  }

  &.active {
    background-color: #DDF9EC;
  }

  &.expires {
    background-color: #FEEDAE;
  }
}

.contracts__status-verification,
.contracts__status-payment {
  margin: 0;
  margin-right: 24px;

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }

  &.done::before {
    background-image: url("../img/check.svg");
  }

  &.waiting::before {
    background-image: url("../img/time.svg");
  }
}

.contracts__status-container
p:not(.contracts__status-detail),
.contracts__status-container
div:not(.contracts__status-detail) {
  flex-shrink: 0;
}

.contracts__status-detail {
  margin: 0;
  margin-left: auto;
  text-align: right;
}

.contracts__pagination-block {
  margin-top: 24px;

  & button {
    border: none;
    padding: 0;
    background-color: transparent;
  }
}

button.contracts__show-more {
  width: 100%;
  padding: 32px 30px 31px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $text-main;
  border: 2px solid $stroke;
  border-radius: 5px;
  transition: all 0.3s;

  &:hover,
  &:active {
    color: $primary;
    border-color: $primary;
    cursor: pointer;
  }
}

.contracts__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.contracts__page-number {
  @include b14;
  color: $text-main;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.3s;
  margin-right: 4px;

  &.active {
    background-color: $primary;
    color: #fff;
  }

  &:not(.active):hover,
  &:not(.active):focus {
    color: $primary;
    cursor: pointer;
  }
}

.contracts__prev,
.contracts__next {
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:disabled):hover {
    cursor: pointer;
  }
}

.contracts__prev svg,
.contracts__next svg {
  fill: $text-main;
  transition: all 0.3s;

  &:hover {
    fill: $primary;
  }
}

.contracts__prev:disabled svg,
.contracts__next:disabled svg {
  fill: $stroke;
}

.contracts__prev:not(:disabled):hover svg,
.contracts__prev:not(:disabled):focus svg,
.contracts__next:not(:disabled):hover svg,
.contracts__next:not(:disabled):focus svg {
  fill: $primary;
}

.contracts__prev {
  margin-right: 20px;
  transform: rotate(180deg)
}

.contracts__next {
  margin-left: 16px;
}

.contracts-mobile {
  display: none;
}

@include tablet {
  .contracts {
    & col {
      &:first-child {
        width: 19%;
      }

      &:nth-child(2) {
        width: 9%;
      }

      &:nth-child(3) {
        width: 15%;
      }

      &:nth-child(4) {
        width: 17%;
      }

      &:nth-child(5) {
        width: 13%;
      }

      &:nth-child(6) {
        width: 11%;
      }

      &:nth-child(7) {
        width: 16%;
      }
    }
  }
}

@include mobile {
  .contracts {
    display: none;
  }

  .contracts-mobile {
    position: relative;
    display: block;
    margin-bottom: 40px;
  }

  .contracts__pagination-block {
    display: none;
  }
}
