.contract-info {
  margin-bottom: 24px;

  &__btn:not(:last-child) {
    margin-right: 16px;
  }

  &__title-block {
    align-items: flex-start;
  }

  &__title span {
    vertical-align: middle;
  }

  &__title-status {
    @include b12;
    padding: 3px 15px;
    border-radius: 5px;
    margin-left: 20px;

    &.pending {
      background-color: #FEEDAE;
    }

    &.active {
      background-color: #DDF9EC;
    }

    &.expired {
      background-color: #94A0B1;
      color: #fff;
    }

    &.freezed {
      background-color: #DCF5FF;
    }

    &.blocked {
      background-color: #FFD6D6;
    }
  }

  &__serial-number {
    @include b14;
    display: block;
    color: $text-minor;
    margin-top: 14px;
  }

  &__toggle-info {
    padding: 19px 24px;
    border: 1px solid $stroke;
    border-radius: 5px;
    margin-bottom: 40px;
  }

  &__toggle-info-link {
    @include link-reset;
    @include b14;
    color: $text-minor;
    transition: color 0.3s;

    &:not(.active):hover,
    &:not(.active):focus {
      color: $primary;
    }

    &:first-child {
      margin-right: 32px;
    }

    &.active {
      color: $text-main;
    }
  }

  &__blocks-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__block {
    width: calc((100% - 48px) / 3);
  }

  &__block--duo {
    width: calc((100% - 24px) / 2);
  }

  &__block--paid,
  &__block--delivered {
    width: 100%;
    margin-top: 24px;
  }

  &__title-check {
    display: flex;
    align-items: center;

    & span {
      margin-right: auto;
    }

    &::after {
      content: "";
      display: inline-block;
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      background-image: url("../img/check.svg");
    }
  }

  &__title-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__delivered-adress {
    display: none;
  }

  div.contract-info__delivered-details {
    margin-bottom: 0;
  }

  &__delivered-toggle {
    @include btn-reset;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    margin-right: 14px;
    background-image: url("../img/arrow-down_light.svg");

    &.opened {
      transform: rotate(180deg);
    }

    &:hover,
    &:focus {
      cursor: pointer;
      background-image: url("../img/arrow-down_default.svg");
    }
  }

  &__status-value {
    position: relative;
    padding-left: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 10px;
      height: 10px;
      margin-top: -1px;
      border-radius: 50%;
      transform: translateY(-50%);
    }
  }

  &__status-value.processing::before {
    background-color: #2858FF;
  }

  &__status-value.done::before {
    background-color: #40DA90;
  }

  &__status-value.canceled::before {
    background-color: #FC4242;
  }

  &__status-value.draft::before {
    background-color: #D1D8E1;
  }
}

@include tablet {
  .contract-info {
    &__title-block--subscription {
      flex-direction: column;
    }

    &__title-block--subscription
    .contract-info__title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__title-status {
      margin: 14px 0;
    }

    &__serial-number {
      margin: 0;
    }

    &__serial-btn {
      margin-top: 14px;
    }
  }
}

@include mobile {
  .contract-info {
    &__toggle-info {
      margin-bottom: 24px;
    }

    &__title-btn {
      flex-direction: column;
      align-items: flex-start;

      & button {
        margin-top: 14px;
      }
    }
  }

  .contract-info__block--paid,
  .contract-info__block--delivered {
    padding: 17px;
    padding-bottom: 3px;
  }

  .contract-info__title-check {
    align-items: flex-start;
  }
}
