.delivery-or-pickup {
  margin-bottom: 24px;

  &.done:hover {
    cursor: pointer;
  }

  &.done:hover .contract-info__delivered-toggle {
    background-image: url("../img/arrow-down_default.svg");
  }

  &__wrapper {
    padding: 28px;
    border: 1px solid $bg;
    border-radius: 5px;
  }

  &__title-block {
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;
  }

  &__change {
    & * {
      vertical-align: middle;
    }

    & span {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-left: 14px;
      background-image: url("../img/time.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__address {
    margin: 0;
    padding-bottom: 14px;

    &--pickup {
      //margin-bottom: 14px;
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &__block-desc {
    margin-bottom: 0;
    color: $text-minor;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    //margin-bottom: 20px;
    border-top: 1px solid $stroke;

    &--no-border {
      border-top: none;
    }
  }

  &__detail {
    flex-grow: 1;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__installation-choose-block {
    margin-bottom: 30px;
  }

  &__payment-link {
    padding: 12px 12px 2px;
    background-color: $bg;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 18px;
  }

  &__payment-link-sended {
    margin-left: auto;
    margin-right: 20px;

    & .info-block__subtitle {
      color: $text-main;
    }

    & .info-block__desc {
      color: $text-minor;
    }
  }

  &__confirm {
    margin-top: 28px;
  }

  &__fill {
    margin: 14px 0 10px;
  }

  &__modal-content {
    display: flex;
    flex-wrap: wrap;
  }

  &__modal-date-block {
    margin-right: 15px;
  }

  &__modal-date-block,
  &__modal-time-block {
    margin-bottom: 28px;
    flex-grow: 1;
  }

  &__modal-checkbox {
    width: 100%;
    margin-bottom: 28px;
  }

  &__modal-input-file {
    width: 100%;
  }

  &__installation-desc {
    margin: 18px 0 14px;
    color: $text-minor;
  }

  &__installation-cost-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 28px;
  }

  &__installation-cost-value,
  &__installation-date,
  &__installation-time {
    width: calc((100% - 30px) / 3);
  }

  &__address-manual {
    display: none;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__installation-address-city,
  &__installation-address-street {
    width: calc(50% - 7px);
    margin-bottom: 14px;
  }

  &__installation-address-house,
  &__installation-address-entrance,
  &__installation-address-apartment,
  &__installation-address-floor,
  &__installation-address-intercom {
    width: calc((100% - 56px) / 5);
  }

  &__installation-company {
    width: 100%;
    margin-bottom: 14px;
  }

  &__installation-address-done {
    margin-top: 18px;
  }

  &__cloud-desc {
    max-width: 53%;
  }

  &__login {
    flex-shrink: 0;
    margin-right: auto;
    margin-left: 40px;
  }

  &__password {
    flex-shrink: 0;
    margin-right: auto;
    margin-left: 20px;
  }
}

div.delivery-address {
  display: none;
}

div.manual-address {
  display: none;
}

div.registration-address {
  display: none;
}

.delivery-or-pickup__wrapper.show-for-delivery .delivery-address {
  display: block;
}

.delivery-or-pickup__wrapper.show-for-manual  .manual-address {
  display: flex;
}

.delivery-or-pickup__wrapper.show-for-registration  .registration-address {
  display: block;
}



// div.delivery-or-pickup__file-load {
//   display: none;
// }

// .delivery-or-pickup__modal-input-file.loaded .input-file__label {
//   display: none;
// }

// .delivery-or-pickup__modal-input-file.loaded div.input-file__file-load {
//   display: flex;
// }

@include tablet {
  .delivery-or-pickup {
    &__cloud-desc {
      width: 100%;
      max-width: none;
      margin-bottom: 18px;
    }

    &__login {
      width: auto;
      min-width: 200px;
      padding-right: 20px;
      margin: 0;
      margin-bottom: 8px;
    }

    &__password {
      width: auto;
      margin: 0;
      margin-right: auto;
    }

    &__password + form {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

