.delivery-or-pickup {
  margin-bottom: 24px;

  &__wrapper {
    padding: 28px;
    border: 1px solid $bg;
    border-radius: 5px;
  }

  &__title-block {
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;
  }

  &__change {
    & * {
      vertical-align: middle;
    }

    & span {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-left: 14px;
      background-image: url("../img/time.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__address {
    margin: 0;
    padding-bottom: 14px;

    &--pickup {
      //margin-bottom: 14px;
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &__details {
    display: flex;
    padding-top: 14px;
    //margin-bottom: 20px;
    border-top: 1px solid $stroke;
  }

  &__detail {
    flex-grow: 1;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__payment-link {
    padding: 12px 12px 2px;
    background-color: $bg;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
  }

  &__confirm {
    margin-top: 28px;
  }

  &__fill {
    margin: 14px 0 10px;
  }

  &__modal-content {
    display: flex;
    flex-wrap: wrap;
  }

  &__modal-date-block {
    margin-right: 15px;
  }

  &__modal-date-block,
  &__modal-time-block {
    margin-bottom: 28px;
    flex-grow: 1;
  }

  &__modal-checkbox {
    width: 100%;
    margin-bottom: 28px;
  }

  &__modal-input-file {
    width: 100%;
  }
}

// div.delivery-or-pickup__file-load {
//   display: none;
// }

// .delivery-or-pickup__modal-input-file.loaded .input-file__label {
//   display: none;
// }

// .delivery-or-pickup__modal-input-file.loaded div.input-file__file-load {
//   display: flex;
// }

