.hierarchy {
  &__list {
    margin: 0;
    padding: 0;
  }

  &__line {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding-right: 8px;

    &.marked {
      background-color: $bg;
    }

    &:hover {
      background-color: $bg;
    }
  }

  &__open-btn {
    display: inline-flex;
    padding: 8px;
    background-color: transparent;
    border: none;

    svg {
      width: 24px;
      height: 24px;
      color: $text-minor;
    }

    &.opened {
      transform: rotate(180deg);

      svg {
        color: $text-main;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__link {
    @include b12;
    flex-grow: 1;
    display: flex;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 8px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: $text-main;
    background-color: transparent;
    border: none;

    span:first-child {
      padding-right: 8px;
      text-align: left;
    }

    span:last-child {
      color: $text-minor;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.hierarchy__open-btn + .hierarchy__link {
  padding-left: 0;
}

.hierarchy__item > .hierarchy__list {
  padding-left: 32px;
  display: none;

  &.opened {
    display: block;
  }
}

@include tablet {
  .hierarchy__item > .hierarchy__list {
    padding-left: 16px;
  }
}

@include mobile {
  .hierarchy__item > .hierarchy__list {
    padding-left: 32px;
  }
}
