.info-block {
  @include b14;
  padding: 28px 28px 16px;
  background-color: $bg;
  border-radius: 5px;

  &__title {
    @include h18;
    margin: 0;
    margin-bottom: 14px;
    color: $text-main;
  }

  &__subtitle {
    @include b14;
    margin: 0;
    color: $text-minor;
  }

  &__desc {
    @include b14;
    margin: 0;
    color: $text-main;
    margin-bottom: 10px;
  }

  &__progressbar-block {
    padding-top: 4px;
  }

  &__progressbar-bg {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: $stroke;
    border-radius: 2px;
    margin-bottom: 14px;
  }

  &__progressbar-current {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $primary;
    border-radius: 2px;
  }

  &__progressbar-values {
    display: flex;
    justify-content: space-between;
  }
}
