.installation-data {
  &__address-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__address-title {
    width: 100%;
    margin-bottom: 0;

    span {
      color: #FC4242;
    }
  }

  &__modal-date-block {
    margin-top: 14px;
  }

  &__modal-address-item {
    margin-top: 14px;
    width: calc((100% - 14px) / 2);
  }

  &__modal-installer {
    margin-top: 14px;
    position: relative;
  }

  &__installer-result {
    position: absolute;
    top: 83px;
    left: 0;
    padding: 24px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 100;

    ul {
      margin: 0;
      padding: 0;
      max-height: 137px;
      overflow-y: auto;
    }

    li {
      font-size: 14px;
      line-height: 21px;
      color: $text-main;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}
