.mutual-calcs__earned {
  margin-bottom: 80px;
  padding-bottom: 15px;
}

.mutual-calcs__earned-title-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.mutual-calcs__earned-date-block {
  position: relative;
}

.mutual-calcs__earned-date-btn {
  @include btn-reset;
  @include b14;
  color: $text-main;
  padding: 18px 50px 18px 20px;
  min-width: 280px;
  border: 1px solid $bg;
  border-radius: 5px;
  text-align: left;
  min-height: 59px;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  transition: all 0.3s;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 57px;

  &:hover,
  &:focus {
    cursor: pointer;
    border-color: $stroke;
    background-image: url("../img/calendar_hover.svg");
  }
}

.mutual-calcs__earned-date-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 24px;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 100;
}

.mutual-calcs__earned-date-menu-list {
  margin: 0;
  padding: 0;
}

.mutual-calcs__earned-date-menu-btn,
.earned-date-period-btn {
  @include btn-reset;
  @include b14;
  margin-bottom: 8px;
  color: $text-main;
  transition: all 0.3s;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $primary;
  }
}

.earned-date-period-btn {
  margin: 0;
}

.mutual-calcs__earned-date {
  width: 280px;
}

.mutual-calcs__details {
  display: flex;
  //justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid $stroke;
}

.mutual-calcs__details-item {
  margin-right: auto;

  &:nth-child(2) .mutual-calcs__details-value {
    color: $primary;
  }

  &:first-child .mutual-calcs__details-value {
    color: $text-main;
  }

  &:nth-child(3) .mutual-calcs__details-value {
    color: $text-main;
  }

}

.mutual-calcs__details-value {
  @include h36;
  margin: 0;
  color: $text-minor;
}

.mutual-calcs__diagram {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 13px;
}

.mutual-calcs__diagram-item {
  width: 18%;
  text-align: center;
}

.mutual-calcs__diagram--month {
  overflow: hidden;
  overflow-x: auto;
  // width: calc(100% + 28px);
  // margin-left: -14px;

  .mutual-calcs__diagram-item {
    width: auto;
    min-width: 20px;
    flex-grow: 1;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &[data-days="30"] {
    .mutual-calcs__diagram-item {
      &:last-child {
        display: none;
      }
    }
  }

  &[data-days="29"] {
    .mutual-calcs__diagram-item {
      &:last-child {
        display: none;
      }

      &:nth-last-child(2) {
        display: none;
      }
    }
  }

  &[data-days="28"] {
    .mutual-calcs__diagram-item {
      &:last-child {
        display: none;
      }

      &:nth-last-child(2) {
        display: none;
      }

      &:nth-last-child(3) {
        display: none;
      }
    }
  }
}

.mutual-calcs__diagram-pic {
  width: 100%;
  height: 88px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
}

.mutual-calcs__diagram-pic-value {
  width: 100%;
  background-color: $primary;
  opacity: 0.15;
}

.mutual-calcs__diagram-year {
  @include b14;
  color: $text-minor;
}

.filters__form-mutual-calcs {
  .contracts-all__select {
    width: calc((100% - 28px)/3);
  }
}

@include tablet {
  .mutual-calcs__details-item {
    width: 18%;
    display: flex;
    flex-direction: column;
  }

  .mutual-calcs__details-value {
    @include h24;
    margin-top: auto;
  }

  .mutual-calcs__diagram-item {
    width: 17%;
  }
}

@include mobile {
  .mutual-calcs {
    &__container {
      padding-left: 0;
      padding-right: 0;
    }

    &__earned {
      padding: 18px 24px 30px;
      border: none;
      border-top: 1px solid #f4f4f8;
      border-bottom: 1px solid #f4f4f8;
      border-radius: 0;
      margin-bottom: 40px;
    }

    &__container > *:not(.mutual-calcs-block-mobile):not(.mutual-calcs-payment-mobile) {
      width: calc(100% - 48px);
      margin-left: auto;
      margin-right: auto;
    }

    &__earned-title-block {
      flex-direction: column;
      align-items: flex-start;
    }

    &__earned-date-block {
      width: 100%;
    }

    &__earned-date-btn {
      min-width: auto;
      width: 100%;
    }

    &__details {
      flex-direction: column;
      padding-bottom: 0;
      border-bottom: none;
    }

    &__details-item {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    &__diagram--month {
      width: calc(100% + 48px);
      margin-left: -24px;
      padding-bottom: 30px;
      padding-left: 24px;
      padding-right: 24px;

      &::after {
        content: "";
        display: block;
        min-width: 24px;
        height: 24px;
      }

      .mutual-calcs__diagram-pic {
        margin-bottom: -5px;
      }
    }

    &__diagram-item {
      width: 10%;
    }

    &__diagram-year {
      display: block;
      transform: translateY(15px) rotate(-90deg);
      transform-origin: center;
    }
  }
}
