.nav {
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin: 5px 0;

    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &__link {
    @include link-reset;
    @include b14;

    color: $text-minor;
    transition: all 0.3s;

    &--active {
      color: $text-main;
    }

    &:hover,
    &:focus {
      color: $primary;
    }
  }

  &__link--enterance {
    color: $text-main;
    padding-left: 15px;
    margin-left: -25px;
    border-left: 1px solid #D1D8E1;
  }
}

.nav__list--footer .nav__link {
  color: $text-main;

  &:hover,
  &:focus {
    color: $primary;
  }
}

@include tablet {
  .nav__list:not(.nav__list--footer) {
    background-color: #fff;
    padding: 28px 40px;
  }
}

@include mobile {
  .nav__list:not(.nav__list--footer) {
    padding: 0;
    flex-direction: column;

    & .nav__item {
      margin: 0;
      padding-right: 50px;

      &:not(:last-of-type) {
        margin-bottom: 24px;
      }
    }
  }

  .nav__list--footer {
    flex-direction: column;
  }

  .nav__list--footer  .nav__item {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  .nav__list  .nav__item.nav__item--enterance {
    padding-right: 0;
  }

  .nav__link--enterance {
    position: relative;
    border-left: none;
    display: block;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      height: 19px;
      width: 1px;
      background-color: #D1D8E1;
      transform: translateY(-50%);
    }
  }
}
