.nav {
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin: 5px 0;

    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &__link {
    @include link-reset;
    @include b14;

    color: $text-minor;
    transition: all 0.3s;

    &--active {
      color: $text-main;
    }

    &:hover,
    &:focus {
      color: $primary;
    }
  }
}
