.nav {
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin: 5px 0;

    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &__link {
    @include link-reset;
    @include b14;

    color: $text-minor;
    transition: all 0.3s;

    &--active {
      color: $text-main;
    }

    &:hover,
    &:focus {
      color: $primary;
    }
  }
}

.nav__list--footer .nav__link {
  color: $text-main;

  &:hover,
  &:focus {
    color: $primary;
  }
}

@include tablet {
  .nav__list:not(.nav__list--footer) {
    background-color: #fff;
    padding: 28px 40px;
  }
}

@include mobile {
  .nav__list:not(.nav__list--footer) {
    padding: 0;
    flex-direction: column;

    & .nav__item {
      margin: 0;
      padding-right: 50px;

      &:not(:last-of-type) {
        margin-bottom: 24px;
      }
    }
  }

  .nav__list--footer {
    flex-direction: column;
  }

  .nav__list--footer  .nav__item {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
