.passport-data {
  margin-bottom: 40px;

  &__wrapper {
    padding: 28px 28px 18px;
    border: 1px solid $bg;
    border-radius: 5px;
    display: flex;
  }

  &__column {
    padding-right: 15px;

    &:first-child {
      width: 25%;
    }

    &:nth-child(2) {
      width: 24%;
      padding-top: 36px;
    }

    &:nth-child(3) {
      width: 51%;
      padding-right: 0;
    }
  }

  &__title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
  }

  &__photo-title {
    margin: 0;
  }

  &__change {
    display: block;
  }

  &__load {
    width: 100%;
  }

  // &__no-data {
  //   display: none;
  // }

  // &.no-data .passport-data__no-data {
  //   display: block;
  // }

  // &.no-data .passport-data__wrapper {
  //   display: none;
  // }

  &__fill {
    margin: 14px 0 10px;
  }
}

@include tablet {
  .passport-data {
    &__column {
      &:first-child,
      &:nth-child(2) {
        width: 37%;
      }

      &:last-child {
        width: 26%;
        flex-shrink: 0;
      }
    }

    &__title-block {
      flex-direction: column;
      align-items: flex-start;
    }

    &__photo-title {
      margin-bottom: 14px;
    }
  }
}

@include mobile {
  .passport-data {
    &__wrapper {
      flex-direction: column;
      padding: 17px;
    }

    &__column:nth-child(n) {
      width: 100%;
      padding: 0;
    }

    &__column:last-child {
      padding-top: 7px;
    }
  }
}
