.payment-waiting {
  margin-bottom: 24px;

  &__wrapper {
    padding: 28px;
    border: 1px solid $bg;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
  }

  &__info-form {
    width: 41%;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    line-height: 27px;
  }

  &__details {
    align-self: stretch;
    margin-bottom: auto;
  }

  &__detail {
    &--sum {
      display: inline-block;
      margin-right: 24px;
    }

    &--time {
      display: inline-block;
      margin-bottom: 4px;
    }
  }

  &__new-link {
    margin-top: 60px;
  }

  &__send-form {
    width: 59%;

    & .payment-waiting__confirm {
      display: none;
    }
  }

  &__send-form-wrapper {
    padding-left: 32px;
    border-left: 1px solid $stroke;
  }

  &__logo {
    text-align: right;
    margin-bottom: 17px;
    font-size: 0;

    &::before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      background-image: url("../img/time.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__checkbox {
    margin-bottom: 14px;
  }

  &__confirm {
    margin-top: 28px;
    width: 100%;
  }

  &__modal-body {
    max-width: 1152px;
  }

  &__modal-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__modal-body .modal__title {
    margin-bottom: 28px;
  }

  &__modal-sender,
  &__modal-recipient,
  &__modal-sum {
    width: 32%;
    margin-bottom: 24px;
  }

  &__modal-date-block,
  &__modal-purpose {
    width: 49%;
    margin-bottom: 32px;
  }

  &__modal-transactions {
    width: 100%;
  }
}

// .payment-waiting__checkbox.sended
// + .payment-waiting__checkbox.sended
// + button {
//   display: none;
// }

// .payment-waiting__checkbox.sended
// + button {
//   display: none;
// }

// .payment-waiting__checkbox.sended
// + button
// + button {
//   display: block;
// }

// .payment-waiting__checkbox.sended
// + .payment-waiting__checkbox.sended {
//   margin-bottom: 55px;
// }

@include tablet {
  .payment-waiting {
    &__info-form {
      width: 62%;
    }

    &__send-form {
      width: 38%;
    }

    &__modal-body {
      min-width: 986px;
    }
  }
}

@include mobile {
  #payment-waiting__modal
  .payment-waiting {
    &__modal-body {
      padding-left: 0;
      padding-right: 0;
      min-width: auto;

      & .modal__title,
      & .modal__content > *:not(.payment-waiting__modal-transactions) {
        margin-left: 18px;
        margin-right: 18px;
      }

      & .transactions__title-block,
      & .transactions__desc {
        padding: 0 18px;
      }

      & .transactions__title-block {
        flex-direction: column;
        align-items: flex-start;

        & .transactions__title {
          margin-bottom: 14px;
        }
      }
    }
  }

  #payment-info__modal
  .payment-waiting {
    &__modal-body {
      padding-left: 0;
      padding-right: 0;
      min-width: auto;

      & .modal__title,
      & .modal__content > *:not(.payment-waiting__modal-transactions) {
        margin-left: 18px;
        margin-right: 18px;
      }

      & .transactions__title-block,
      & .transactions__desc {
        padding: 0 18px;
      }
    }
  }

  .payment-waiting__info-form,
  .payment-waiting__send-form {
    width: 100%;
    padding: 0;
  }

  .payment-waiting__info-form {
    padding-bottom: 28px;

    & .payment-waiting__confirm {
      display: none;
    }
  }

  .payment-waiting__send-form {
    border-top: 1px solid #d1d8e1;

    & .payment-waiting__confirm {
      display: block;
    }

    & + .payment-waiting__confirm {
      display: none;
    }
  }

  .payment-waiting__send-form-wrapper {
    padding-left: 0;
    padding-top: 28px;
    border: none;
  }

  .payment-waiting__info-form .info-block__title {
    padding-right: 40px;
  }

  .payment-waiting__wrapper {
    position: relative;
    flex-direction: column;
    padding: 17px;
  }

  .payment-waiting__new-link {
    margin-top: 0;
  }

  .payment-waiting__logo {
    position: absolute;
    top: 17px;
    right: 17px;
  }

  .payment-waiting__details {
    display: flex;
    flex-direction: column;
  }

  .payment-waiting__detail:not(:last-child) {
    margin-bottom: 14px;
  }

  .payment-waiting__detail--link .info-block__desc {
    word-wrap: break-word;
  }

  .payment-waiting__confirm {
    margin: 14px 0 0;

    & + button {
      margin-top: 14px;
    }
  }
}
