.process {
  margin-bottom: 40px;

  &__container {
    display: flex;
  }

  &__stage {
    @include b16;
    flex-grow: 1;
    text-align: center;

    &:first-child {
      margin-right: 24px;
    }
  }

  &__stage-bar {
    width: 100%;
    height: 4px;
    margin-bottom: 18px;
    border-radius: 2px;
    background-color: $bg;
  }

  &__stage-bar--active {
    background-color: $primary;
  }

  &__stage-name {
    margin: 0;
    color: $text-minor;
    text-decoration: none;
    transition: color 0.3s;

    &:not(.process__stage-name--active):hover {
      color: $primary;
    }
  }

  &__stage-name--active {
    color: $text-main;
  }
}

@include mobile {
  .process {
    &__container {
      flex-direction: column;
    }

    &__stage:first-child {
      margin-bottom: 18px;
      margin-right: 0;
    }
  }
}
