.subscribe-register {
  &__input {
    position: relative;
    margin-bottom: 14px;
  }

  &__btn {
    @include btn-reset;
    position: absolute;
    top: 43px;
    right: 20px;
    width: 24px;
    height: 24px;
    background-image: url("../img/qr-code-icon.svg");
    z-index: 10;
    display: none;
  }
}

@include mobile {
  .subscribe-register {
    &__btn {
      display: block;
    }
  }
}
