.subscription-page {
  &__client {
    margin-bottom: 40px;
  }

  &__client-block {
    display: flex;
    justify-content: space-between;
  }

  &__client-input-item {
    width: calc((100% - 24px) / 2);

    input[placeholder]          {text-overflow:ellipsis;}
    input::-moz-placeholder     {text-overflow:ellipsis;}
    input:-moz-placeholder      {text-overflow:ellipsis;}
    input:-ms-input-placeholder {text-overflow:ellipsis;}
  }

  &__client-saved {
    font-size: 12px;
    line-height: 18px;
    color: $primary;
    margin: 9px 0 0;
    min-height: 18px;
    order: 10;
  }

  &__reward {
    margin-bottom: 80px;

    &-details {
      display: flex;
      justify-content: space-between;
      margin-bottom: 22px;
    }

    &-data {
      width: calc((100% - 172px) / 3);

      &:not(:last-child) {
        margin-right: 24px;
      }

      &:last-child {
        width: 100px;
        max-width: 100px;
        text-align: right;
      }

      .info-block__subtitle {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 32px;
      }

      .info-block__desc {
        &:not(:last-of-type) {
          margin-bottom: 42px;
        }
      }
    }

    &-sum {
      &.pending {
        color: $text-minor;
      }

      &.active {
        color: #40DA90;
      }
    }

    &-total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
    }

    &-total-sum {
      font-size: 24px;
      line-height: 29px;
      font-weight: 500;
      color: $text-main;
    }

    &-report-total {
      @include h20;
    }

    &-report-total-sum {
      @include h20;
    }

    &-status {
      font-size: 12px;
      line-height: 18px;
      padding: 3px 12px;
      border-radius: 5px;

      &.pending {
        color: #fff;
        background-color: $text-minor;
      }

      &.active {
        color: $text-main;
        background-color: #DDF9EC;
      }
    }

    &-block-mobile {
      display: none;
    }

    table {
      table-layout: fixed;
      border-collapse: collapse;
      margin-bottom: 32px;

      col {
        &:first-child {
          width: 31%;
        }

        &:nth-child(2) {
          width: 31%;
        }

        &:nth-child(3) {
          width: calc(38% - 100%);
        }

        &:nth-child(4) {
          width: 100px;
        }
      }

      th {
        font-size: 12px;
        line-height: 18px;
        color: $text-minor;
        font-weight: 400;
        text-align: left;
        padding: 0 24px 32px 0;

        &:last-child {
          text-align: right;
          padding-right: 0;
        }
      }

      td {
        font-size: 14px;
        line-height: 21px;
        color: $text-main;
        padding: 0 24px 42px 0;
        vertical-align: middle;

        &:last-child {
          text-align: right;
          padding-right: 0;

          &.pending {
            color: $text-minor;
          }

          &.active {
            color: #40DA90;
          }
        }
      }

      tr:last-of-type {
        td {
          padding-bottom: 0;
        }
      }
    }
  }

  &__reward--report {
    table {
      width: 100%;

      col {
        &:first-child {
          width: 64px;
        }

        &:nth-child(2) {
          width: calc(74% - 756px);
        }

        &:nth-child(3) {
          width: 14%;
        }

        &:nth-child(4) {
          width: 194px;
        }

        &:nth-child(5) {
          width: 174px;
        }

        &:nth-child(6) {
          width: 12%;
        }
      }

      tr {
        border-bottom: 1px solid #d1d8e1;

        &:last-of-type {
          td {
            padding-bottom: 10px;
          }
        }
      }

      th {
        text-align: right;
        vertical-align: top;

        &:first-child,
        &:nth-child(2) {
          text-align: left;
        }
      }

      td {
        text-align: right;
        padding-bottom: 10px;
        padding-top: 10px;

        &:first-child,
        &:nth-child(2) {
          text-align: left;
        }

        &.total {
          @include h18;
        }

        p {
          @include overflow-10lines;
          margin: 0;

          &.serial {
            color: $text-minor;
          }
        }
      }
    }
  }

  &__actions {
    margin-bottom: 4px;
  }

  &__actions-container {
    display: flex;
    flex-wrap: wrap;
  }

  &__action-item {
    @include btn-reset;
    @include b14;
    position: relative;
    padding: 30px 16px 30px 80px;
    width: calc((100% - 48px) / 3);
    color: $text-main;
    text-align: left;
    border: 1px solid $bg;
    border-radius: 5px;
    transition: all 0.3s;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      cursor: pointer;
      border-color: $stroke;
    }

    &:nth-child(n) {
      margin-bottom: 20px;
    }

    &:not(:nth-child(3n)) {
      margin-right: 16px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      left: 16px;
      width: 48px;
      height: 48px;
      background-color: $bg;
      border-radius: 50%;
    }

    &::after {
      left: 28px;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &:disabled {
      opacity: 0.5;
    }

    &--prolong::after {
      background-image: url("../img/time.svg");
    }

    &--freez::after {
      background-image: url("../img/snowflake.svg");
    }

    &--block::after {
      background-image: url("../img/lock.svg");
    }

    &--service::after {
      background-image: url("../img/cog.svg");
    }

    &--repair::after {
      background-image: url("../img/wrench.svg");
    }

    &--delete::after {
      background-image: url("../img/file-clear.svg");
    }

    &--return::after {
      background-image: url("../img/return.svg");
    }

    &--confirm::after {
      background-image: url("../img/check-grey.svg");
    }
  }

  &__additional-services-title {
    @include h18;
    margin-bottom: 14px;
  }

  &__additional-services-desc {
    @include b14;
    margin: 0;
    color: $text-minor;
  }

  &__additional-item {
    width: 100%;
    padding: 12px;
    margin-top: 14px;
    background-color: $bg;
    border-radius: 5px;
  }

  &__additional-item-title {
    @include b14;
    margin: 0;
    color: $text-main;
  }

  &__additional-item-desc {
    @include b14;
    margin: 0;
    color: $text-minor;
  }
}

.write-serial__input,
.account-creation__input {
  padding-top: 13px;
}

@include tablet {
  .subscription-page {
    &__action-item {
      padding: 19px 16px 19px 80px;
      min-height: 80px;
    }
  }
}

@include mobile {
  .subscription-page {
    &__client-block {
      flex-direction: column;
    }

    &__client-input-item {
      width: 100%;

      &:first-child {
        margin-bottom: 24px;
      }
    }

    &__actions {
      margin-bottom: 40px;
    }

    &__actions-container {
      flex-direction: column;
    }

    &__action-item {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &:not(:nth-child(3n)) {
        margin-right: 0;
      }
    }

    &__reward {
      &-details {
        display: none;
      }

      &-block-mobile {
        display: block;

        .swiper-slide {
          padding-bottom: 54px;
        }
      }

      &-total {
        flex-direction: column;
        align-items: flex-start;
      }

      &-total-sum {
        margin-bottom: 16px;
      }

      &-report-total {
        margin-bottom: 16px;
      }

      table {
        display: none;
      }
    }
  }
}
