.user-settings {
  &__title {
    margin: 0;
    margin-bottom: 45px;
    color: $text-main;
  }

  &__subtitle {
    @include h20;
    margin: 0 0 24px;
    color: $text-main;
  }

  &__data-container {
    margin: 0 0 60px;

    .user-settings__data-name {
      display: flex;
      justify-content: space-between;
    }

    .input-block {
      margin-bottom: 24px;
      width: 32%;
    }

    .input-label {
      color: $text-minor;
    }

    .input-text {
      background-color: $bg;
      border: none;
      color: $text-main;
    }
  }

  &__email,
  &__phone {
    min-width: 437px;
  }

  &__change-data {
    @include btn-reset;
    order: 4;
    display: inline-block;
    width: auto;
    margin-top: 9px;
    align-self: flex-start;
    color: $primary;
    transition: color 0.2s;

    &:hover {
      color: $primary-hover;
      cursor: pointer;
    }
  }

  &__main-data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__main-data-item {
    width: calc((100% - 72px) / 4);

    .input-label {
      display: block;
      margin-bottom: 9px;
    }
  }

  &__main-value {
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    color: $text-main;
    margin: 0;
  }

  &__nds {
    display: flex;

    div {
      &:first-child {
        margin-right: 58px;
      }
    }
  }

  &__nds-desc {
    @include b14;
    margin: 0 0 24px;
  }
}

#confirmation-code,
#confirmation-email,
#phone-success {
  .modal__desc {
    span {
      color: $text-main;
    }
  }
}

@include mobile {
  .user-settings {
    .input-block {
      width: 100%;
      min-width: auto;
    }

    &__title {
      margin-bottom: 40px;
    }

    &__data-name {
      flex-direction: column;
    }

    &__main-data {
      flex-direction: column;
    }

    &__main-data-item {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
}
