.user-data {
  color: $text-main;
  margin-bottom: 80px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__intro {
    padding: 28px 40px;
    width: 668px;
    background-color: $bg;
    border-radius: 5px;
  }

  &__greeting {
    padding-bottom: 28px;
    border-bottom: 1px solid $stroke;
  }

  &__hello {
    @include h18;
    margin: 0;
    margin-bottom: 6px;
  }

  &__name {
    @include h32;
    margin: 0;
  }

  &__manager {
    padding-top: 28px;
  }

  &__manager-title {
    @include b14;
    margin: 0;
    margin-bottom: 2px;
    color: $text-minor;
  }

  &__manager-name {
    @include h18;
    margin: 0;
    margin-bottom: 35px;
  }

  &__contacts {
    display: flex;
  }

  &__tel,
  &__mail {
    @include link-reset;
    @include b14;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }

    &:hover {
      color: $primary;
    }
  }

  &__tel {
    margin-right: 25px;
  }

  &__tel::before {
    background-image: url("../img/phone.svg");
  }

  &__mail::before {
    background-image: url("../img/mail.svg");
  }

  //==================

  &__services,
  &__calc {
    padding: 28px 40px;
    width: calc((100% - 716px) / 2);
    background-color: $bg;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include h18;
    margin: 0;
    margin-bottom: 14px;
  }

  &__subtitle {
    @include b14;
    margin: 0;
    color: $text-minor;
  }

  &__amount {
    @include h36;
    font-weight: 400;
    margin: 0;
    margin-bottom: 24px;
    color: $text-minor;

    &--active {
      color: $primary;
      margin-bottom: 14px;
    }
  }

  &__link {
    margin-top: auto;
  }
}

@include tablet {
  .user-data {
    &__intro,
    &__services,
    &__calc {
      width: calc((100% - 48px) / 3);
      padding: 28px;
    }

    &__greeting {
      padding-bottom: 14px;
    }

    &__name {
      @include h24;
    }

    &__manager {
      padding-top: 14px;
      margin-bottom: 17px;
    }

    &__manager-name {
      @include b14;
      font-weight: 500;
      margin: 0;
    }

    &__contacts {
      flex-direction: column;
    }

    &__tel {
      margin-bottom: 8px;
    }
  }
}

@include mobile {
  .user-data {
    margin-bottom: 40px;

    &__container {
      flex-direction: column;
    }

    &__intro,
    &__services,
    &__calc {
      width: 100%;
      padding: 18px;
    }

    &__intro,
    &__services {
      margin-bottom: 24px;
    }

    &__amount:nth-of-type(4) {
      margin-bottom: 28px;
    }
  }
}
