.checkbox {
  font-size: 0;

  &__label {
    display: inline-flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  &__label div {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 14px;
    border-radius: 4px;
    background-color: $bg;
    transition: all 0.3s;
    flex-shrink: 0;
  }

  &__input:checked + div {
    background-color: $primary;
    background-image: url("../img/check-white.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__text {
    @include b14;
    color: $text-main;
    margin: 0;
  }

  &__label:hover input:not(:checked) + div,
  &__label:focus input:not(:checked) + div {
    background-color: #e6e6ef;
  }

  &--no-text div {
    margin-right: 0;
  }

  &__label {
    align-items: flex-start;
  }
}

.checkbox--border {
  & .checkbox__label div {
    border: 1px solid $stroke;
  }

  & .checkbox__input:checked + div {
    border: none;
  }
}

@include mobile {
  .checkbox {
    &__label {
      align-items: flex-start;
    }
  }
}
