.input-block {
  position: relative;
  display: flex;
  flex-direction: column;

  &.js-wrong  .input-text {
    border: 1px solid #FC4242;
  }

  &.js-wrong .input-note {
    display: block;
    color: #FC4242;
  }
}

.input-label {
  @include b12;
  margin-bottom: 9px;
  color: $text-minor;
  order: 1;
}

.input-text {
  @include b14;
  color: $text-main;
  height: 56px;
  padding: 0 20px;
  border: none;
  background-color: $bg;
  border-radius: 5px;
  order: 2;
  transition: all 0.3s;

  &.js-wrong {
    border: 1px solid #FC4242;
  }

  &:hover,
  &:focus,
  &.js-inputed {
    background-color: #E6E6EF;
  }

  // &.js-wrong {
  //   border: 1px solid #FC4242;
  // }

  &[placeholder] {
    //color: $text-minor;
    opacity: 1;
    text-overflow: ellipsis;
  }

  &::-webkit-input-placeholder {
    color: $text-minor;
    opacity: 1;
    text-overflow: ellipsis;
  }

  &::-moz-placeholder {
    color: $text-minor;
    opacity: 1;
    text-overflow: ellipsis;
  }

  &:-moz-placeholder {
    color: $text-minor;
    opacity: 1;
    text-overflow: ellipsis;
  }

  &:-ms-input-placeholder {
    color: $text-minor;
    opacity: 1;
    text-overflow: ellipsis;
  }
}

.input-wrapper {
  position: relative;
  order: 2;
  width: 100%;

  .input-text {
    width: 100%;
  }
}



.input-note {
  @include b12;
  display: none;
  margin: 0;
  margin-top: 9px;
  order: 3;
}

.input-desc-note {
  @include b12;
  margin-top: 9px;
  color: $text-minor;
  order: 4;
}

.input-text.js-wrong + label + .input-note,
.input-text.js-wrong + label + .input-desc-note,
.input-wrapper.js-wrong + label + .input-note {
  display: block;
  color: #FC4242;
}

.input-wrapper.js-wrong .input-text {
  border: 1px solid #FC4242;
}

.input-text:disabled {
  background-color: #fff;
  border: 1px solid $stroke;
  color: $stroke;

  & + .input-label {
    color: $stroke;
  }
}

.input-money {
  text-align: right;
}

.input-password {
  padding-right: 50px;
}

.input-icon {
  @include btn-reset;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-50%);

  &--show-password {
    background-image: url("../img/eye.svg");

    &.active {
      background-image: url("../img/no-eye.svg");
    }
  }

  &:hover {
    cursor: pointer;
  }
}
