.radio-1 {
  position: relative;
  display: block;
  padding: 15px;
  padding-right: 54px;
  border: 1px solid $bg;
  border-radius: 5px;
  transition: border-color 0.3s;

  &:hover {
    cursor: pointer;
    border-color: $stroke;
  }

  &:hover .radio-1__name {
    color: $text-main;
  }

  &__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    margin-bottom: 5px;
    color: $text-minor;
    transition: color 0.3s;
  }

  &__desc {
    @include b12;
    margin: 0;
    color: $text-minor;
  }

  &__label {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $bg;
  }

  &__input:checked + div {
    border: 2px solid $primary;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $primary;
      transform: translate(-50%, -50%);
    }
  }

  &__input:checked + div + .radio-1__name {
    color: $text-main;
  }
}

@include mobile {
  .radio-1 {
    padding-right: 50px;
  }
}
