.subscription-tabs {
  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline-block;
    width: max-content;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__btn {
    @include btn-reset;
    @include b14;
    color: #94A0B1;
    padding: 6px 16px;
    background-color: #F4F4F8;
    border-radius: 2px;
    text-align: center;
    transition: color 0.2s,
                background-color 0.2s;

    &:hover,
    &:focus {
      cursor: pointer;
      color: $text-main;
      background-color: #D1D8E1;
    }

    &.active,
    &.active:focus,
    &.active:hover {
      color: #fff;
      background-color: $primary;
    }
  }
}

@include mobile {
  .subscription-tabs {
    width: 100% !important;

    &__item {
      &:first-child {
        margin-left: 24px;
      }

      &:last-child {
        margin-right: 24px;
      }
    }
  }
}
