//ШРИФТЫ
$font: "Suisse Intl", "Arial", "Helvetica", "Helvetica CY", "Nimbus Sans";

// РЕТИНА
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// РАЗРЕШЕНИЯ
$width-desktop-large: 1920px;
$width-desktop: 640px;
$width-tablet: 480px;
$width-mobile: 320px;

// ЦВЕТА
$text-main: #1A1A1A;
$text-minor: #94A0B1;
$stroke: #D1D8E1;
$bg-hover: #E6E6EF;
$bg: #F4F4F8;
$disabled: #dadada;

$primary: #2858FF;
$primary-hover: #113EE0;


